
body{
    min-width: 1000px;
}

main{
    width: 100%;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;

    background-color: rgb(231, 231, 231);

}

.container{
    width: 100%;
    min-height: 450px;
    
    padding: 15px 20px;

    border-radius: 10px;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    font-size: 20px;
    font-weight: bold;
    color: var(--warna-2);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--warna-2);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.header-container > button:hover{
    opacity: .8;
}

.menu-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-filter >  .select-option{
    display: flex;
    gap: 10px;
}

.select-option > select{
    min-width: 260px;
    height: 50px;
    padding: 8px 10px;

    border: none;
    border-radius: 7px;
    font-size: 14px;
    
    color: white;
    background-color: var(--warna-2);
    outline: none;
}

.select-option > select > option{
    color: black;
    background-color: white;
}

.menu-filter > .search{
    display: flex;
    align-items: center;
    /* padding: 10px; */
    position: relative;
}

.menu-filter > .search > input{
    width: 280px;
    height: 40px;
    padding: 4px 5px;
    border: .1px solid #DFDFDF;
    border-radius: 3px 0px 0px 3px;
    outline-color: var(--warna-3);
}

.icon{
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.menu-filter > .search > button {
    width: 40px;
    height: 40px;
    border: .1px solid #DFDFDF;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-filter > .search > button > img{
    height: 25px;
}

.menu-filter > .search > .icon > img{
    width: 25px;
    height: 25px;
}

table{ 
    width: 100%;
    border-spacing: 0;
    font-size: 13.5px;

    text-align: center;
}

.table-header{
    height: 45px;
    font-size: 14px;
    font-weight: bolder;
    color: rgb(88, 88, 88);
    background-color: #DFDFDF;
}

td{
    padding: 15px;
    max-width: 105px;
}

.footer-pagination{
    display: flex;
    align-self: flex-end;
}

.text-red{
    color: red;
}

.text-green{
    color: green;
}

.field-input{
    display: flex;
    gap: 10px;
}

.field-input > label > span{
    color: red;
    font-weight: bold;
}

.btn-buat{
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column ;
    gap: 50px;
    /* flex-wrap: wrap; */
    margin-bottom: 15px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right > input{
    width: 0;
    opacity: 0;
}

.right > label{
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--warna-2);
    cursor: pointer;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field-input > label{
    width:110px;
}

.field-input > input{
    width: 280px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid;
    /* outline: none; */
}

.field-input > textarea{
    width: 280px;
    height: 80px;
    padding: 5px;
}

#error-message-gambar{
    display: none;
    color: red;
}

.modal{
    width: 100%;
    min-height: 100dvh;
    background-color: rgba(0,0,0 , .8);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal > form{
    width: 100%;
    max-width: 280px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal > form > .header-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal > form > .header-form > .btn-close{
    padding: 6px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
}

.modal > form > .error-message{
    text-align: center;
    color: red;
    font-size: 14px;
}

.fieldInput2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fieldInput2 > label{
    font-size: 14px;
}

.fieldInput2 > input{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
}

.fieldInput2 > select{
    padding: 5px;
}

.modal > form > button{
    width: 100%;
    cursor: pointer;
}

.btn-close{
    cursor: pointer;
    
}

.peminjaman-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#gambar-buku{
    width: 400px;
    height: 350px;
}

.modal-image{
    display: none;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0 , .8);
    padding: 15px;
    z-index: 89;
}

.modal-image > .content{
    width: 100vw;
    height: 100dvh;
    /* background-color: white; */
}

.modal-image > .content > img{
    width: 100vw;
    height: 50vw;
    object-fit: contain;
}

.child-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.child-3 {
    display: flex;
    gap: 5px;
}

.child-3 > form >  button{
    background-color: green;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.child-3 > :nth-child(2) > button{
    background-color: red;
}

aside > img{
    width: 200px;
    height: 200px;
}

@media screen and (min-width:400px){
    .wrapper  > aside{
        width: 50%;
    }

   

    .wrapper{
        flex-direction: row;
        gap: 10px;
    }

}

@media screen and (max-width:400px){
 .container-buku{
        width: max-content;
        gap: 20px;
    }
    #gambar-buku{
        width: 280px;
        height: 280px;
    }
}