
body{
    display: flex;
    min-width: 300px;
}


.left,
.right{
    min-height: 100dvh;
}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.header-login{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-login > img{
    height: 60px;
}

.header-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 12px;
}



form,
.text-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-bantuan,
.remember-me,
.bantuan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

form{
    width: 80%;
    /* gap: 0px; */
}

.wajib{
    width: max-content;
    position: relative;
    font-size: 14px;
}

.wajib::after{
    content: "*";
    position: absolute;
    top: -1.5px;
    right:  -7px;
    color: red;
    font-weight: bold;
}

.text-bantuan{
    justify-content: space-between;
    font-size: 12.5px;
    flex-wrap: wrap;
}

.bantuan{
    width: 100%;
    justify-content: end;
}

input{
    /* width: 100%; */
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    border: 1px dotted var(--warna-2);
}

input:focus[type='text'],
input:focus[type='password']{
    border: none;
    outline-color: var(--warna-1);
    outline-style: groove;
}

.password-input{
    /* width: 100%; */
    position: relative;
}

.password-input > input{
    width: 100%;
    padding-right: 38px;
}

.password-input > img{
    position: absolute;
    top: 23.5%;
    right: 10px;
    height: 22px;
    cursor: pointer;
}

.blm-punya-akun{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
}

.error-message{
    color: red;
    font-size: 12px;
}

.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background: #5E63E4;
    background: linear-gradient(157deg, rgba(94, 99, 228, 1) 0%, rgba(165, 167, 249, 1) 100%);
}

.right > main{
    width: 50%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.populer-buku{
    display: flex;
    flex-direction: column;
}

.populer-buku > :nth-child(2){
    width: 90%;
}

.right > main h2{
    font-weight: bold
}

main > .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main > .content > img{
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
}

main > .content > p{
    text-align: center;
}


.btn-lihat-buku{
    width: 200px;
    border: .5px solid white;
}

.btn-lihat-buku:hover{
    background-color: transparent;
}

.copyrights{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px){
    .left{
        width: 100%;
    }
    .right{
        display: none;
    }
}